.vscode/*

.terraform
*.tfplan
.idea

__pycache__/
*/*/__pycache__
*/*/_trial_temp

lambda/build
lambdas/build

**/**/.terraform
**/**/.terraform.*
.vscode/settings.json
.venv/*
*/.venv/
.coverage
lambdas/degrades_reporting/tmp
lambdas/degrades_reporting/tests/tmp
stacks/degrades_reporting/terraform/lambda/

.venv/

*/.env
venv
